{
  "openapi": "3.0.0",
  "info": {
    "title": "triveous-Ecommerce-API",
    "description": "Welcome to our E-Commerce project! This project is built using Node.js and Express and serves as an e-commerce platform. This Documentation provides an overview of the API routes available in the application",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://successful-worm-glasses.cyclic.cloud/",
      "description": "cyclic deployed url"
    },
    {
      "url": "http://localhost:8080/",
      "description": "Local server"
    }
  ],
  "components": {
    "schemas": {
      "users": {
        "type": "object",
        "required": [
          "name",
          "email",
          "password",
          "role"
        ],
        "properties": {
          "_id": {
            "type": "string",
            "description": "he auto-generated id of the user (MongoDB ObjectID)"
          },
          "name": {
            "type": "string",
            "description": "The user fullname"
          },
          "email": {
            "type": "string",
            "description": "The user email"
          },
          "password": {
            "type": "string",
            "description": "The user password"
          },
          "role": {
            "type": "string",
            "default": "User",
            "enum": [
              "User",
              "Admin"
            ],
            "description": "The user role"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The user addresses"
          }
        }
      },
      "products": {
        "type": "object",
        "required": [
          "title",
          "description",
          "price",
          "brand",
          "category"
        ],
        "properties": {
          "_id": {
            "type": "string",
            "description": "The auto-generated id of the user (MongoDB ObjectID)"
          },
          "title": {
            "type": "string",
            "description": "The product title"
          },
          "description": {
            "type": "string",
            "description": "The product description"
          },
          "price": {
            "type": "number",
            "minimum": 1,
            "description": "The product price"
          },
          "rating": {
            "type": "number",
            "minimum": 1,
            "maximum": 5,
            "description": "The product rating"
          },
          "stock": {
            "type": "number",
            "minimum": 0,
            "default": 0,
            "description": "The product in stock available"
          },
          "brand": {
            "type": "string",
            "description": "The brand of the product"
          },
          "category": {
            "type": "string",
            "description": "The product category"
          },
          "deleted": {
            "type": "boolean",
            "description": "deleted ststus of the product"
          }
        }
      },
      "categories": {
        "type": "object",
        "required": [
          "label"
        ],
        "properties": {
          "_id": {
            "type": "string",
            "description": "The auto-generated id of the user (MongoDB ObjectID)"
          },
          "label": {
            "type": "string",
            "description": "The category label"
          },
          "description": {
            "type": "string",
            "description": "The category description"
          }
        }
      },
      "carts": {
        "type": "object",
        "required": [
          "quantity",
          "product",
          "user"
        ],
        "properties": {
          "_id": {
            "type": "string",
            "description": "The auto-generated id of the user (MongoDB ObjectID)"
          },
          "quantity": {
            "type": "number",
            "description": "total quantity pf cart"
          },
          "product": {
            "type": "string",
            "$ref": "#/components/schemas/products/properties/_id",
            "description": "product id - MongoDB ObjectId (_id)"
          },
          "user": {
            "type": "string",
            "$ref": "#/components/schemas/users/properties/_id",
            "description": "userId of the customer - MongoDB ObjectId (_id)"
          }
        }
      },
      "orders": {
        "type": "object",
        "required": [
          "items",
          "totalAmount",
          "totalItems",
          "user",
          "paymentMethod",
          "selectedAddress"
        ],
        "properties": {
          "_id": {
            "type": "string",
            "description": "The auto-generated id of the user (MongoDB ObjectID)"
          },
          "items": {
            "type": "array",
            "items": {
              "type": "string",
              "$ref": "#/components/schemas/products/properties/_id",
              "description": "The ordered items"
            }
          },
          "totalAmount": {
            "type": "number",
            "description": "total order amount value"
          },
          "totalItems": {
            "type": "number",
            "description": "total number of items"
          },
          "user": {
            "type": "string",
            "$ref": "#/components/schemas/users/properties/_id",
            "description": "userId of the customer - MongoDB ObjectId (_id)"
          },
          "paymentMethod": {
            "type": "string",
            "enum": [
              "card",
              "cash"
            ],
            "description": "payment method used for the order"
          },
          "paymentStatus": {
            "type": "string",
            "default": "pending",
            "description": "payment status of the order"
          },
          "status": {
            "type": "string",
            "default": "pending",
            "description": "current status of the order"
          },
          "selectedAddress": {
            "type": "string",
            "description": "address to deliver the order"
          },
          "deleted": {
            "type": "boolean",
            "default": true,
            "description": "deleted status of the order"
          }
        }
      }
    },
    "securitySchemes": {
      "bearer_token_Auth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "add your JWT token here, it will be prefixed with 'Bearer '"
      },
      "bearer_refresh_token_Auth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "add your JWT refresh token here, it will be prefixed with 'Bearer '"
      }
    }
  },
  "tags": [
    {
      "name": "User",
      "description": "All the API routes related to User"
    },
    {
      "name": "Product",
      "description": "All the API routes related to Product"
    },
    {
      "name": "Category",
      "description": "All the API routes related to Category"
    },
    {
      "name": "Cart",
      "description": "All the API routes related to Cart"
    },
    {
      "name": "Order",
      "description": "All the API routes related to Order"
    }
  ],
  "paths": {
    "/user/signup": {
      "post": {
        "summary": "User SignUp",
        "tags": [
          "User"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "name": "Joao Cancelo",
                  "email": "joaocancelo@gmail.com",
                  "password": "joaocancelo",
                  "role": "User"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A new user signs up",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "User created successfully"
                  }
                }
              }
            }
          },
          "406": {
            "description": "If passed role is Admin",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Only an Admin can create new Admin"
                  }
                }
              }
            }
          },
          "400": {
            "description": "User already exists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "User already exists"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "something went wrong"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user/login": {
      "post": {
        "summary": "User Login",
        "tags": [
          "User"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "email": "joaocancelo@gmail.com",
                  "password": "joaocancelo"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successfull",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Login successfull",
                    "token": "<JWT Token>",
                    "refreshtoken": "<JWT refresh Token>"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid username or password",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Invalid username or password"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "something went wrong"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user/addresses": {
      "post": {
        "summary": "Add Address",
        "tags": [
          "User"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "address": "18 RNC Road Subhasgram"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_token_Auth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Address Added",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Address Added successfully"
                  }
                }
              }
            }
          },
          "401": {
            "description": "address not provided",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Please Provide a new address to be added"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "something went wrong",
                    "error": "<error message>"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user/logout": {
      "get": {
        "summary": "User Logout, token will be blacklisted",
        "tags": [
          "User"
        ],
        "security": [
          {
            "bearer_token_Auth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Logout successfull",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Logout successfull"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Token not provided or token blacklisted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Unauthorized"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user/getnewtoken": {
      "get": {
        "summary": "Get new JWT token from the refresh token",
        "tags": [
          "User"
        ],
        "security": [
          {
            "bearer_refresh_token_Auth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Get new JWT token with the refresh token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "token": "<JWT Token>"
                  }
                }
              }
            }
          },
          "501": {
            "description": "Invalid username or password",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Invalid refresh token, please login again"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "something went wrong",
                    "error": "<Error message>"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user/profile": {
      "get": {
        "summary": "Get profile details",
        "tags": [
          "User"
        ],
        "security": [
          {
            "bearer_token_Auth": []
          }
        ],
        "responses": {
          "200": {
            "description": "profile details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "profile": {
                      "_id": "<User id>",
                      "name": "<User Name>",
                      "email": "<User email>",
                      "role": "<User role>"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "JWT expired",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Unauthorized",
                    "error": "Error message"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user/adminsignup": {
      "post": {
        "summary": "Only admin can signup another admin, provide JWT token of another admin.",
        "tags": [
          "User"
        ],
        "security": [
          {
            "bearer_token_Auth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "name": "Robert Lewandowski",
                  "email": "robertlewandowski@gmail.com",
                  "password": "robertlewandowski",
                  "role": "Admin"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A new Admin signs up",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Admin created successfully"
                  }
                }
              }
            }
          },
          "406": {
            "description": "If passed role is other than 'Admin'",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Specify role as Admin"
                  }
                }
              }
            }
          },
          "401": {
            "description": "If token error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Unauthorized",
                    "error": "<Error message>"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Admin already exists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Admin already exists"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "something went wrong"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user/deleteuser": {
      "delete": {
        "summary": "Only an admin can Delete User/Admin, provide JWT token of another admin.",
        "tags": [
          "User"
        ],
        "security": [
          {
            "bearer_token_Auth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "email": "robertlewandowski@gmail.com"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "User Deleted Successfully"
                  }
                }
              }
            }
          },
          "401": {
            "description": "If token error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Unauthorized",
                    "error": "<Error message>"
                  }
                }
              }
            }
          },
          "400": {
            "description": "User not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "User not found"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "something went wrong"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/products": {
      "post": {
        "summary": "Only Admin can create new Product, provide admin JWT token",
        "tags": [
          "Product"
        ],
        "security": [
          {
            "bearer_token_Auth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "title": "iPhone 15 Pro Max",
                  "description": "Introducing the all new iPhone 15 pro max, Again, this time we have only changed the number, nothing new here",
                  "price": 160000,
                  "rating": 5,
                  "stock": 10000,
                  "brand": "Apple",
                  "category": "Mobiles",
                  "deleted": false
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "A New Product Added Successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "New Product Added Successfully",
                    "product": {
                      "_id": "<MongoDB ObjectID>",
                      "title": "iPhone 15 Pro Max",
                      "description": "Introducing the all new iPhone 15 pro max, Again, this time we have only changed the number, nothing new here",
                      "price": 160000,
                      "rating": 5,
                      "stock": 10000,
                      "brand": "Apple",
                      "category": "Mobiles",
                      "deleted": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error creating product or missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Missing required fields"
                  }
                }
              }
            }
          },
          "401": {
            "description": "If token error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Unauthorized",
                    "error": "<Error message>"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "<Error message>"
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get Products list (Filter, sort, pagination available)",
        "tags": [
          "Product"
        ],
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "description": "Categories to filter by (comma-separated), eg. Tablets,Mobiles,Accessories,Laptops",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "brand",
            "in": "query",
            "description": "Brands to filter by (comma-separated), eg. Apple, Google, Huawei, Samsung,Xiaomi",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_sort",
            "in": "query",
            "description": "Sort by attribute eg. price",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_order",
            "in": "query",
            "description": "Sort order (asc or desc)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_limit",
            "in": "query",
            "description": "Number of items per page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "admin",
            "in": "query",
            "description": "Admin access flag",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of products",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "example": [
                    {
                      "_id": "650e234afc13ae2f51fd5569",
                      "title": "Laptop Stand",
                      "description": "High-quality product with durable materials",
                      "price": 183413.8,
                      "rating": 3,
                      "stock": 501194,
                      "brand": "Huawei",
                      "category": "Accessories",
                      "deleted": false
                    },
                    {
                      "_id": "650e2349fc13ae2f51fd54fe",
                      "title": "Wireless Headphones",
                      "description": "Exceptional craftsmanship and attention to detail",
                      "price": 181089.12,
                      "rating": 1,
                      "stock": 585896,
                      "brand": "Huawei",
                      "category": "Tablets",
                      "deleted": false
                    },
                    {
                      "_id": "650e2349fc13ae2f51fd5505",
                      "title": "Laptop Stand",
                      "description": "High-quality product with durable materials",
                      "price": 163272.26,
                      "rating": 0,
                      "stock": 893010,
                      "brand": "Huawei",
                      "category": "Accessories",
                      "deleted": false
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "<Error message>"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/products/{id}": {
      "patch": {
        "summary": "Only Admin can update Product, provide admin JWT token",
        "tags": [
          "Product"
        ],
        "security": [
          {
            "bearer_token_Auth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The product id (MongoDB ObjectID)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "title": "Luxury iPhone 14 Pro ",
                  "description": "Introducing the all new iPhone 15 pro max, Again, this time we have only changed the number, nothing new here",
                  "price": 50000,
                  "rating": 2,
                  "stock": 500,
                  "brand": "Apple",
                  "category": "Mobiles",
                  "deleted": false
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product Updated Successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "New Product Added Successfully",
                    "product": {
                      "_id": "<MongoDB ObjectID>",
                      "title": "Luxury iPhone 14 Pro ",
                      "description": "Introducing the all new iPhone 15 pro max, Again, this time we have only changed the number, nothing new here",
                      "price": 50000,
                      "rating": 2,
                      "stock": 500,
                      "brand": "Apple",
                      "category": "Mobiles",
                      "deleted": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error updating product",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "<Error message>"
                  }
                }
              }
            }
          },
          "401": {
            "description": "If token error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Unauthorized",
                    "error": "<Error message>"
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "get Product by id",
        "tags": [
          "Product"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The product id (MongoDB ObjectID)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Product details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "product": {
                      "_id": "<MongoDB ObjectID>",
                      "title": "Luxury iPhone 14 Pro ",
                      "description": "Introducing the all new iPhone 15 pro max, Again, this time we have only changed the number, nothing new here",
                      "price": 50000,
                      "rating": 2,
                      "stock": 500,
                      "brand": "Apple",
                      "category": "Mobiles",
                      "deleted": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error getting product details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "<Error message>"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/categories": {
      "get": {
        "summary": "get All Categories",
        "tags": [
          "Category"
        ],
        "responses": {
          "200": {
            "description": "Array of categories with label and description",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "categories": [
                      {
                        "label": "Mobiles",
                        "description": "All kind of Mobiles are listed here"
                      },
                      {
                        "label": "Laptops",
                        "description": "All kind of Laptops are listed here"
                      },
                      {
                        "label": "Tablets",
                        "description": "All kind of Tablets are listed here"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error getting categories",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "<Error message>"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new Category, provide JWT token of an admin.",
        "tags": [
          "Category"
        ],
        "security": [
          {
            "bearer_token_Auth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "label": "Keyboards",
                  "description": "All kind of keyboards are listed here"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "A new Category is created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "New Category added successfully",
                    "category": {
                      "label": "Keyboards",
                      "description": "All kind of keyboards are listed here"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "If token error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Unauthorized",
                    "error": "<Error message>"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Internal server error or  Category Label or Description not provided",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": [
                    {
                      "message": "<Error message>"
                    },
                    {
                      "message": "Provide Category Label & Description"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/cart": {
      "post": {
        "summary": "Add Product to Cart, provide user JWT roken",
        "tags": [
          "Cart"
        ],
        "security": [
          {
            "bearer_token_Auth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "quantity": 2,
                  "product": "650e2349fc13ae2f51fd54db"
                },
                "description": "provide product id (MongoDB ObjectId)"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Product Added to Cart",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Product Added to Cart",
                    "cart": {
                      "quantity": 2,
                      "product": {
                        "_id": "650e2349fc13ae2f51fd54db",
                        "title": "Phone Case",
                        "description": "Exceptional craftsmanship and attention to detail",
                        "price": 171884.69,
                        "rating": 4,
                        "stock": 176924,
                        "brand": "Samsung",
                        "category": "Mobiles",
                        "deleted": false
                      },
                      "user": "650de2baeaf200fecca01093",
                      "_id": "6512f5f56c6f89f3bda46004",
                      "__v": 0
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Server Error or Missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": [
                    {
                      "message": "<Error message>"
                    },
                    {
                      "message": "Missing required fields"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Token not provided or token blacklisted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": [
                    {
                      "message": "Unauthorized"
                    },
                    {
                      "message": "Unauthorized",
                      "error": "<Error message>"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get cart by user, provide user JWT roken, A user can only view his/her cart ",
        "tags": [
          "Cart"
        ],
        "security": [
          {
            "bearer_token_Auth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Cart items",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "example": [
                    {
                      "_id": "650e9f33bcc410352b872528",
                      "quantity": 3,
                      "product": {
                        "_id": "650e2349fc13ae2f51fd5477",
                        "title": "iPad Pro",
                        "description": "High-quality product with durable materials",
                        "price": 171342.62,
                        "rating": 3,
                        "stock": 334205,
                        "brand": "Google",
                        "category": "Mobiles",
                        "deleted": true
                      },
                      "user": "650de2baeaf200fecca01093",
                      "__v": 0
                    },
                    {
                      "_id": "6512f5f56c6f89f3bda46004",
                      "quantity": 2,
                      "product": {
                        "_id": "650e2349fc13ae2f51fd54db",
                        "title": "Phone Case",
                        "description": "Exceptional craftsmanship and attention to detail",
                        "price": 171884.69,
                        "rating": 4,
                        "stock": 176924,
                        "brand": "Samsung",
                        "category": "Mobiles",
                        "deleted": false
                      },
                      "user": "650de2baeaf200fecca01093",
                      "__v": 0
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "<Error message>"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Token not provided or token blacklisted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": [
                    {
                      "message": "Unauthorized"
                    },
                    {
                      "message": "Unauthorized",
                      "error": "<Error message>"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/cart/{userId}": {
      "get": {
        "summary": "Get cart by userId, Only admin can pass userId param, provide Admin JWT token",
        "tags": [
          "Cart"
        ],
        "security": [
          {
            "bearer_token_Auth": []
          }
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The userId (MongoDB ObjectID)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cart items",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "example": [
                    {
                      "_id": "650e9f33bcc410352b872528",
                      "quantity": 3,
                      "product": {
                        "_id": "650e2349fc13ae2f51fd5477",
                        "title": "iPad Pro",
                        "description": "High-quality product with durable materials",
                        "price": 171342.62,
                        "rating": 3,
                        "stock": 334205,
                        "brand": "Google",
                        "category": "Mobiles",
                        "deleted": true
                      },
                      "user": "650de2baeaf200fecca01093",
                      "__v": 0
                    },
                    {
                      "_id": "6512f5f56c6f89f3bda46004",
                      "quantity": 2,
                      "product": {
                        "_id": "650e2349fc13ae2f51fd54db",
                        "title": "Phone Case",
                        "description": "Exceptional craftsmanship and attention to detail",
                        "price": 171884.69,
                        "rating": 4,
                        "stock": 176924,
                        "brand": "Samsung",
                        "category": "Mobiles",
                        "deleted": false
                      },
                      "user": "650de2baeaf200fecca01093",
                      "__v": 0
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "<Error message>"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Token not provided or token blacklisted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": [
                    {
                      "message": "Unauthorized"
                    },
                    {
                      "message": "Unauthorized",
                      "error": "<Error message>"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/cart/{cartId}": {
      "patch": {
        "summary": "Update cart",
        "tags": [
          "Cart"
        ],
        "security": [
          {
            "bearer_token_Auth": []
          }
        ],
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "description": "The cartId (MongoDB ObjectID)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "quantity": 5,
                  "product": "650e2349fc13ae2f51fd5484"
                },
                "description": "provide product id (MongoDB ObjectId)"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cart updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Cart Updated",
                    "cart": {
                      "_id": "6512f5f56c6f89f3bda46004",
                      "quantity": 5,
                      "product": {
                        "_id": "650e2349fc13ae2f51fd5484",
                        "title": "Laptop Stand",
                        "description": "High-quality product with durable materials",
                        "price": 137355.69,
                        "rating": 1,
                        "stock": 193095,
                        "brand": "Xiaomi",
                        "category": "Tablets",
                        "deleted": false
                      },
                      "user": "650de2baeaf200fecca01093",
                      "__v": 0
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "<Error message>"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Token not provided or token blacklisted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": [
                    {
                      "message": "Unauthorized"
                    },
                    {
                      "message": "Unauthorized",
                      "error": "<Error message>"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete cart",
        "tags": [
          "Cart"
        ],
        "security": [
          {
            "bearer_token_Auth": []
          }
        ],
        "parameters": [
          {
            "name": "cartId",
            "in": "path",
            "description": "The cartId (MongoDB ObjectID)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cart Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Cart Deleted"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "<Error message>"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Token not provided or token blacklisted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": [
                    {
                      "message": "Unauthorized"
                    },
                    {
                      "message": "Unauthorized",
                      "error": "<Error message>"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/orders": {
      "post": {
        "summary": "Create new order by user , provide User JWT only",
        "tags": [
          "Order"
        ],
        "security": [
          {
            "bearer_token_Auth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "items": [
                    {
                      "product": {
                        "id": "650e2349fc13ae2f51fd54a9"
                      },
                      "quantity": 1
                    },
                    {
                      "product": {
                        "id": "650e2349fc13ae2f51fd54af"
                      },
                      "quantity": 1
                    },
                    {
                      "product": {
                        "id": "650e2349fc13ae2f51fd54b1"
                      },
                      "quantity": 1
                    }
                  ],
                  "totalAmount": 100000,
                  "totalItems": 3,
                  "user": "650de2baeaf200fecca01093",
                  "paymentMethod": "cash",
                  "selectedAddress": "18, RNC Road Subhasgram"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "New Order Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "New Order Created",
                    "order": {
                      "items": [
                        {
                          "product": {
                            "id": "650e2349fc13ae2f51fd54a9"
                          },
                          "quantity": 2
                        },
                        {
                          "product": {
                            "id": "650e2349fc13ae2f51fd54af"
                          },
                          "quantity": 1
                        },
                        {
                          "product": {
                            "id": "650e2349fc13ae2f51fd54b1"
                          },
                          "quantity": 1
                        }
                      ],
                      "totalAmount": 10000,
                      "totalItems": 3,
                      "user": "650de2baeaf200fecca01093",
                      "paymentMethod": "cash",
                      "paymentStatus": "pending",
                      "status": "pending",
                      "selectedAddress": "18, RNC Road Subhasgram",
                      "deleted": false,
                      "_id": "6514232cfea17d7140b702a7",
                      "__v": 0
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "<Error message>"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Token not provided or token blacklisted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": [
                    {
                      "message": "Unauthorized"
                    },
                    {
                      "message": "Unauthorized",
                      "error": "<Error message>"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get Orders by admin (sort, pagination), provide Admin JWT roken",
        "tags": [
          "Order"
        ],
        "security": [
          {
            "bearer_token_Auth": []
          }
        ],
        "parameters": [
          {
            "name": "_sort",
            "in": "query",
            "description": "Sort by attribute eg. price",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_order",
            "in": "query",
            "description": "Sort order (asc or desc)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "_page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_limit",
            "in": "query",
            "description": "Number of items per page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get Orders by admin",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "orders": [
                      {
                        "deleted": false,
                        "_id": "650ec479a5171d136179b40d",
                        "items": [
                          {
                            "product": {
                              "id": "650e2349fc13ae2f51fd54f9"
                            },
                            "quantity": 3
                          },
                          {
                            "product": {
                              "id": "650e2349fc13ae2f51fd54c4"
                            },
                            "quantity": 1
                          }
                        ],
                        "totalAmount": 100,
                        "totalItems": 4,
                        "user": "650de2baeaf200fecca01093",
                        "paymentMethod": "cash",
                        "paymentStatus": "pending",
                        "status": "pending",
                        "selectedAddress": "18, RNC Road Subhasgram",
                        "__v": 0
                      },
                      {
                        "_id": "6514232cfea17d7140b702a7",
                        "items": [
                          {
                            "product": {
                              "id": "650e2349fc13ae2f51fd54a9"
                            },
                            "quantity": 2
                          },
                          {
                            "product": {
                              "id": "650e2349fc13ae2f51fd54af"
                            },
                            "quantity": 1
                          },
                          {
                            "product": {
                              "id": "650e2349fc13ae2f51fd54b1"
                            },
                            "quantity": 1
                          }
                        ],
                        "totalAmount": 10000,
                        "totalItems": 3,
                        "user": "650de2baeaf200fecca01093",
                        "paymentMethod": "cash",
                        "paymentStatus": "pending",
                        "status": "pending",
                        "selectedAddress": "18, RNC Road Subhasgram",
                        "deleted": false,
                        "__v": 0
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "<Error message>"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Token not provided or token blacklisted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": [
                    {
                      "message": "Unauthorized"
                    },
                    {
                      "message": "Unauthorized",
                      "error": "<Error message>"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/orders/own": {
      "get": {
        "summary": "Get order by User, pass user JWT token",
        "tags": [
          "Order"
        ],
        "security": [
          {
            "bearer_token_Auth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Get all Orders by user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "example": [
                    {
                      "deleted": false,
                      "_id": "650ec479a5171d136179b40d",
                      "items": [
                        {
                          "product": {
                            "id": "650e2349fc13ae2f51fd54f9"
                          },
                          "quantity": 3
                        },
                        {
                          "product": {
                            "id": "650e2349fc13ae2f51fd54c4"
                          },
                          "quantity": 1
                        }
                      ],
                      "totalAmount": 100,
                      "totalItems": 4,
                      "user": "650de2baeaf200fecca01093",
                      "paymentMethod": "cash",
                      "paymentStatus": "pending",
                      "status": "pending",
                      "selectedAddress": "18, RNC Road Subhasgram",
                      "__v": 0
                    },
                    {
                      "_id": "65142293424533249c425db2",
                      "items": [
                        {
                          "product": {
                            "id": "650e2349fc13ae2f51fd54a9"
                          },
                          "quantity": 1
                        },
                        {
                          "product": {
                            "id": "650e2349fc13ae2f51fd54af"
                          },
                          "quantity": 1
                        },
                        {
                          "product": {
                            "id": "650e2349fc13ae2f51fd54b1"
                          },
                          "quantity": 1
                        }
                      ],
                      "totalAmount": 100000,
                      "totalItems": 3,
                      "user": "650de2baeaf200fecca01093",
                      "paymentMethod": "cash",
                      "paymentStatus": "pending",
                      "status": "pending",
                      "selectedAddress": "18, RNC Road Subhasgram",
                      "deleted": false,
                      "__v": 0
                    },
                    {
                      "_id": "6514232cfea17d7140b702a7",
                      "items": [
                        {
                          "product": {
                            "id": "650e2349fc13ae2f51fd54af"
                          },
                          "quantity": 1
                        },
                        {
                          "product": {
                            "id": "650e2349fc13ae2f51fd54b1"
                          },
                          "quantity": 1
                        }
                      ],
                      "totalAmount": 10000,
                      "totalItems": 2,
                      "user": "650de2baeaf200fecca01093",
                      "paymentMethod": "cash",
                      "paymentStatus": "pending",
                      "status": "pending",
                      "selectedAddress": "18, RNC Road Subhasgram",
                      "deleted": false,
                      "__v": 0
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "<Error message>"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Token not provided or token blacklisted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": [
                    {
                      "message": "Unauthorized"
                    },
                    {
                      "message": "Unauthorized",
                      "error": "<Error message>"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/orders/own/{userId}": {
      "get": {
        "summary": "Get order by userId (userId optional), Only admin can pass userId param, provide admin JWT",
        "tags": [
          "Order"
        ],
        "security": [
          {
            "bearer_token_Auth": []
          }
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The userId (MongoDB ObjectID)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get all Orders by user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "example": [
                    {
                      "deleted": false,
                      "_id": "650ec479a5171d136179b40d",
                      "items": [
                        {
                          "product": {
                            "id": "650e2349fc13ae2f51fd54f9"
                          },
                          "quantity": 3
                        },
                        {
                          "product": {
                            "id": "650e2349fc13ae2f51fd54c4"
                          },
                          "quantity": 1
                        }
                      ],
                      "totalAmount": 100,
                      "totalItems": 4,
                      "user": "650de2baeaf200fecca01093",
                      "paymentMethod": "cash",
                      "paymentStatus": "pending",
                      "status": "pending",
                      "selectedAddress": "18, RNC Road Subhasgram",
                      "__v": 0
                    },
                    {
                      "_id": "65142293424533249c425db2",
                      "items": [
                        {
                          "product": {
                            "id": "650e2349fc13ae2f51fd54a9"
                          },
                          "quantity": 1
                        },
                        {
                          "product": {
                            "id": "650e2349fc13ae2f51fd54af"
                          },
                          "quantity": 1
                        },
                        {
                          "product": {
                            "id": "650e2349fc13ae2f51fd54b1"
                          },
                          "quantity": 1
                        }
                      ],
                      "totalAmount": 100000,
                      "totalItems": 3,
                      "user": "650de2baeaf200fecca01093",
                      "paymentMethod": "cash",
                      "paymentStatus": "pending",
                      "status": "pending",
                      "selectedAddress": "18, RNC Road Subhasgram",
                      "deleted": false,
                      "__v": 0
                    },
                    {
                      "_id": "6514232cfea17d7140b702a7",
                      "items": [
                        {
                          "product": {
                            "id": "650e2349fc13ae2f51fd54af"
                          },
                          "quantity": 1
                        },
                        {
                          "product": {
                            "id": "650e2349fc13ae2f51fd54b1"
                          },
                          "quantity": 1
                        }
                      ],
                      "totalAmount": 10000,
                      "totalItems": 2,
                      "user": "650de2baeaf200fecca01093",
                      "paymentMethod": "cash",
                      "paymentStatus": "pending",
                      "status": "pending",
                      "selectedAddress": "18, RNC Road Subhasgram",
                      "deleted": false,
                      "__v": 0
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "<Error message>"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Token not provided or token blacklisted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": [
                    {
                      "message": "Unauthorized"
                    },
                    {
                      "message": "Unauthorized",
                      "error": "<Error message>"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/orders/{orderId}": {
      "patch": {
        "summary": "Update Order",
        "tags": [
          "Order"
        ],
        "security": [
          {
            "bearer_token_Auth": []
          }
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "The orderId (MongoDB ObjectID)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "selectedAddress": "118/3 MG Road"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order Updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Order Updated",
                    "order": {
                      "deleted": false,
                      "_id": "650ec479a5171d136179b40d",
                      "items": [
                        {
                          "product": {
                            "id": "650e2349fc13ae2f51fd54f9"
                          },
                          "quantity": 3
                        },
                        {
                          "product": {
                            "id": "650e2349fc13ae2f51fd54c4"
                          },
                          "quantity": 1
                        }
                      ],
                      "totalAmount": 100,
                      "totalItems": 4,
                      "user": "650de2baeaf200fecca01093",
                      "paymentMethod": "cash",
                      "paymentStatus": "pending",
                      "status": "pending",
                      "selectedAddress": "118/3 MG Road",
                      "__v": 0
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "<Error message>"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Token not provided or token blacklisted or order doesn't exist, only a user can modify his/her order, Admin can modify all orders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": [
                    {
                      "message": "Unauthorized"
                    },
                    {
                      "message": "Unauthorized",
                      "error": "<Error message>"
                    },
                    {
                      "message": "Order doesn't exist"
                    },
                    {
                      "message": "Unauthorized, Only User who made the order can modify"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete Order",
        "tags": [
          "Order"
        ],
        "security": [
          {
            "bearer_token_Auth": []
          }
        ],
        "parameters": [
          {
            "name": "orderId",
            "in": "path",
            "description": "The orderId (MongoDB ObjectID)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Order Deleted",
                    "order": {
                      "deleted": false,
                      "_id": "650ec479a5171d136179b40d",
                      "items": [
                        {
                          "product": {
                            "id": "650e2349fc13ae2f51fd54f9"
                          },
                          "quantity": 3
                        },
                        {
                          "product": {
                            "id": "650e2349fc13ae2f51fd54c4"
                          },
                          "quantity": 1
                        }
                      ],
                      "totalAmount": 100,
                      "totalItems": 4,
                      "user": "650de2baeaf200fecca01093",
                      "paymentMethod": "cash",
                      "paymentStatus": "pending",
                      "status": "pending",
                      "selectedAddress": "118/3 MG Road",
                      "__v": 0
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "<Error message>"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Token not provided or token blacklisted or order doesn't exist, only a user can modify his/her order, Admin can modify all orders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": [
                    {
                      "message": "Unauthorized"
                    },
                    {
                      "message": "Unauthorized",
                      "error": "<Error message>"
                    },
                    {
                      "message": "Order doesn't exist"
                    },
                    {
                      "message": "Unauthorized, Only User who made the order can delete"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}